<h1>Listing add_email_to_users</h1>

<table>
  <tr>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @add_email_to_users.each do |add_email_to_user| %>
  <tr>
    <td><%= add_email_to_user.email %></td>
    <td><%= link_to 'Show', add_email_to_user %></td>
    <td><%= link_to 'Edit', edit_add_email_to_user_path(add_email_to_user) %></td>
    <td><%= link_to 'Destroy', add_email_to_user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Add email to user', new_add_email_to_user_path %>
